html {
  font-size: 16px;
}

body {
  background: darksalmon;
}

.image-cropper-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.range-slider {
  display: inline-block;
}

.slider-container {
  display: flex;
  flex-direction: column;
}

.slider-text {
  margin-right: 1rem;
}

.slider-form-item {
  display: flex;
  max-width: 30rem;
  justify-content: space-between;
  align-items: center;
}
